
body {
	background-image: url(tiny_grid.png);
	color: #000000;
	margin: 0;
	font-family: 'cloudlight';
}

@font-face {
    font-family: 'cloudlight'; /*a name to be used later*/
    src: url('../fonts/cloudlight.otf'); /*URL to font*/
}

img {
	/*border-radius: 20px;*/ /* Adjust radius of image to make it have a curved corner like this mac */
	display: inline;
	width: 100px;
	height: 100px;
	margin: 0 20px 100px 20px;
	float: left;
	clear: left;
}

p {
	text-align: center;
	padding: 0 20px;
	border: 0;
	margin: 0;
}

p.headerp {
	text-align: center;
	color: white;
	padding: 0 200px;
}

/*p.footerp {
	color: white;
}*/

h1,h2,h3 {
	text-align: center;
}

h1 {
	color: white;
	padding: 5px 0 0 0;
}

a.text-link {
	text-decoration: underline;
	color: #000000;
	padding: 0 5px 0 5px;
}

a.text-link:hover {
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	text-decoration: none;
}

header {
	background: #D3D3D3;
	background-image: url(dark_brick_wall.png);
	padding: 0 0 10px 0;
}

/*footer {
	background-image: url(dark_brick_wall.png);
	padding: 5px 0 0 0;
	padding-top: 10px;
	bottom: 0;
	height: 40px;
	width: 100%;
	margin: 242px 0 0px 0;
}*/

#wrapper {
	width: 900px;
	height: 200px;
	padding: 5px 0 0 0;
	margin-right: auto;
	margin-left: auto;
}

a.button {
	border: 3px solid black;
	background-image: url(ignasi.png);
	text-decoration: none;
	padding: 5px 5px 0 5px;
	color: black;
	border-radius: 5px;
}

a.button:hover {
	color: black;
	background-color: white;
	border-radius: 5px;
	padding: 5px 5px 0 5px;
	text-decoration: none;
	background-image: url(0);
}

h2.cloudbold {
	font-family: 'cloud-bold';
	font-size: 30px;
}

@font-face {
    font-family: 'cloud-bold'; /*a name to be used later*/
    src: url('../fonts/cloud-bold.otf'); /*URL to font*/
}

/* Vertical Nav Bar */

/*ul {
    list-style-type: none;
    margin: 0 0 -70px 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}*/

/*Horizontal Nav Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.Son {
	width: 288px;
	height: 285px;
	border: 1px solid black;
	margin: 12px 0 0 -46px;
}

.Student {
	width: 288px;
	height: 285px;
	border: 1px solid black;
	margin: -288px 0px 0px 306px;
}

.Eater {
	width: 288px;
	height: 285px;
	border: 1px solid black;
	margin: -287px 0px 0px 659px;
}

.imgson {
	width: 288px;
	height: 235px;
	margin: -24px 0 0 0;
	border-radius: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.textson {
	background-image: url(weather.png);
	margin: 0 0 13px 0;
	padding: 10px 0 17px 0;
}

.imgeater {
	width: 288px;
	height: 235px;
	margin: -238px 0 0 0;
	border-radius: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.imgstudying {
	width: 288px;
	height: 235px;
	margin: -238px 0 0 0;
	border-radius: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.social {
	display: flex;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	border-radius: 10px;
	background-image: url(tiny_grid.png);
	margin: 0 0 0 0;
}

.icon {
	flex: 1;
	text-align: center;
	padding: 40px 0 0 0;
	margin: 100px 0 0 0;
}
